.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}
.modalDialog:target {
  display: block;
  pointer-events: auto;
}
.modalDialog > div {
  width: 30%;
  height: 300px;
  position: relative;
  margin: 10% auto;
  padding: 30px;
  border-radius: 5px;
  background: #fff;
}
:hover {
  transition: 0.2s;
}
.open_button {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  top: 30%;
}
.close_button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
}
.close_x {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  margin: 10px;
}
.close_x svg path:hover {
  stroke: red;
}
button {
  min-width: 100px;
  border: 0;
  border-radius: 5px;
  background: #3971e2;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background: #1d49aa;
}
