body,
html {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Noto Sans JP, sans-serif;
}
:root {
  --color0: #fff;
  --color1: #13887f;
  --color2: #00c7b8;
  --color3: #e4da4e;
  --color4: #f2f6e6;
  --color5: #022f2c;
  --color6: #f2faf9; /*фон под сообщения*/
  --color7: #f9ffff; /*фон: список акт.пользователей*/
  --color8: #e100cb; /*личн.сообщения*/
  --color9: #c4c4c4; /*доп.информация*/
  --space0: 0;
  --space-xs: 5px;
  --space-s: 10px;
  --space-m: 15px;
  --space-l: 25px;
  --text-add: 12px;
  --text-main: 14px;
  --text-big: 16px;
}

/*container for all content*/
.flex-container {
  display: flex;
  width: 65%;
  margin: 0 auto;
}
/*container for part with list*/
.flex-container-1 {
  flex-basis: 35%;
  flex-grow: 1;
  /* background-color: rgb(192, 191, 250); */
}
/*container for part with messages*/
.flex-container-2 {
  flex-basis: 65%;
  flex-grow: 1;
  /* background-color: rgb(255, 145, 231); */
}
.header {
  height: 4rem;
  background-color: var(--color1);
  color: var(--color0);
}
.nickname {
  color: var(--color0);
  font-size: var(--text-main);
  margin: var(--space-l);
}
.logo {
  color: var(--color0);
  font-family: "Courgette", cursive;
  font-size: 24px;
  text-align: center;
  margin: var(--space-m);
}
.main .flex-container-1 {
  background-color: var(--color7);
}
.main .flex-container-2 {
  background-color: var(--color6);
  position: relative;
}
.main {
  height: calc(100% - 7rem);
  overflow: auto;
  color: var(--color5);
  font-size: var(--text-main);
}
/* .listing{
  height: calc(100% - 7rem);
  overflow: auto;
} */
.listing label {
  display: block;
  padding: var(--space-s) var(--space-l);
}
.listing p {
  margin: var(--space-l) var(--space-l) var(--space-s);
}
.listing input {
  margin-right: var(--space-m);
}
.listing label:hover {
  background-color: #e100cb;
}
.find {
  display: flex;
  padding: var(--space-l) 0 var(--space-m);
  justify-content: space-around;
}
.find button {
  border: 0;
  background: transparent;
  color: var(--color5);
  padding: 2px 5px;
}
.find button:hover {
  border-radius: 15px;
  background: var(--color2);
  color: #fff;
}
.find button:focus {
  outline: none;
}
.find input {
  display: block;
  background-color: var(--color0);
  width: 45%;
  border: none;
  padding: var(--space-xs) var(--space-m);
  border-radius: 10px;
}
.find input:focus {
  /*??????*/
  /* border: 1px solid var(--color9); */
  outline: 2px solid var(--color2);
}
.messages {
  padding: 0 var(--space-l);
}
.own_mess {
  width: 80%;
  background-color: var(--color0);
  border-radius: 10px;
  padding: var(--space-s) var(--space-m);
  margin-bottom: var(--space-s);
  text-align: justify;
}
.own_mess p {
  margin: 0;
  margin-top: var(--space-s);
}
.own_mess span {
  color: var(--color9);
  font-size: var(--text-add);
  font-style: italic;
}
.data_time {
  text-align: end;
}
.data_time span {
  font-style: normal;
  margin-left: var(--space-m);
}
.my_mess {
  margin-left: auto;
}

.send {
  padding: var(--space-l) var(--space0);
  background-color: var(--color2);
  width: 100%;
  /* position: absolute; */
  bottom: 0;
}
.send form {
  display: flex;
  justify-content: space-around;
}
.send p {
  font-size: var(--text-add);
  color: var(--color0);
  margin: var(--space-s) var(--space-l);
}
.send button {
  border: 0;
  background: transparent;
}
.send button svg path:hover {
  stroke: var(--color1);
}
.send button:focus {
  outline: none;
}

.send input {
  display: block;
  background-color: var(--color0);
  width: 70%;
  border: none;
  padding: var(--space-s);
  border-radius: 10px;
}
.send input:focus {
  /*??????*/
  outline: 2px solid var(--color2);
}
/*styles of footer for all pages*/
.footer {
  height: 3rem;
  background-color: var(--color1);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.footer p {
  color: var(--color0);
  margin: 10px 0px;
  font-size: var(--text-add);
  font-style: italic;
}
.footer .flex-container-2 {
  text-align: end;
}

/* for resizing DESKTOP*/
@media all and (min-width: 1440px) {
  .flex-container {
    width: 930px;
  }
}
@media all and (max-width: 800px) {
  .flex-container {
    width: 80%;
  }
}
@media all and (max-width: 500px) {
  .flex-container {
    width: 100%;
  }
  .footer {
    height: auto;
  }
}
